<style>
  .hextra-footer {
    display: none
  }
</style>
<footer class="bg-primary-bg text-white font-primary py-[4.375rem] md:py-25 px-12 xl:px-25">
  <div class="flex flex-col md:flex-row justify-between gap-[3.125rem] md:gap-0 max-w-[1440px] mx-auto">
    <div class="flex flex-col gap-4 items-center md:items-start">
      {{ partial "utils/icon.html" (dict "name" "logo" ) }}
      <span class="text-center md:text-left">
        Kgateway was originally created by <a class="text-secondary-link" href="https://www.solo.io/">Solo.io</a> and was known as Gloo.
      </span>
    </div>
    <div class="flex flex-col md:flex-row gap-[2.5625rem] items-center md:max-h-[3.1875rem]">
      <a class="link flex items-center gap-2 whitespace-nowrap font-primary text-secondary-link text-[1.125rem] leading-[1.6875rem] md:text-base" href="https://github.com/kgateway-dev/kgateway">
        {{ partial "utils/icon.html" (dict "name" "github" "attributes" "class='fill-secondary-link h-6 w-6'") }} GitHub
      </a>
      <a class="link flex items-center whitespace-nowrap font-primary text-secondary-link" href="https://cloud-native.slack.com/archives/C080D3PJMS4">
        {{ partial "utils/icon.html" (dict "name" "slack" "attributes" "class='fill-secondary-link w-10 h-10'") }}
        Slack
      </a>
      <!-- <a class="bg-secondary-bg text-white rounded-lg p-5" href="/">Get a demo</a> -->
    </div>
  </div>
</footer>