<style>
  .hextra-footer {
    display: none
  }
</style>
<footer class="bg-primary-bg text-white font-primary py-25 px-12 xl:px-25 bg-[url(/hero-background.svg)] bg-[center_top_-27rem]">
  <div class="flex justify-between max-w-[1440px] mx-auto">
    <div class="flex flex-col gap-4">
      {{ partial "utils/icon.html" (dict "name" "logo" ) }}
      <span>K8sGateway was originally created by <a class="text-secondary-link" href="https://www.solo.io/">solo.io</a></span>
    </div>
    <div class="flex gap-[2.5625rem] items-center max-h-[3.1875rem]">
      <a class="text-secondary-link" href="/">GitHub</a>
      <a class="text-secondary-link" href="/">Slack</a>
      <a class="bg-secondary-bg text-white rounded-lg p-5" href="/">Get a demo</a>
    </div>
  </div>
</footer>