{{ $featured := .Get "featured" | default false }}
{{ $data := .Site.Data.labs }}
{{ range $data }}
  {{ if or (eq $featured false) (and (eq $featured true) (eq .featured true)) }}
<div class="rounded-xl text-card-foreground shadow flex flex-col overflow-hidden h-full transition-all duration-200 ease-in-out hover:shadow-lg hover:-translate-y-1 bg-card-background/50 backdrop-blur-sm border border-primary/10">
  <div class="relative aspect-video">
    <img src="{{ .imagePreview }}" alt="{{ .title }}" class="absolute inset-0 w-full h-full object-cover not-prose">
    <div class="absolute top-2 left-2">
      <div class="inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent hover:bg-secondary/80 bg-primary/80 text-primary-foreground">{{ .title }}</div>
    </div>
  </div>
  <div class="flex flex-col space-y-1.5 p-6 pb-3">
    <h3 class="tracking-tight text-xl font-bold text-secondary-foreground">{{ .title }}</h3>
    <p class="text-sm text-muted-foreground line-clamp-2">{{ .description }}</p>
  </div>
  <div class="p-6 pt-0 flex-grow">
    <div class="flex items-center justify-between text-sm text-muted-foreground mb-4">
      <div class="flex items-center">
        {{ partial "utils/icon.html" (dict "name" "chart-no-axes-column-increasing") }}
        {{ .difficulty }}
      </div>
      <div class="flex items-center">
        {{ partial "utils/icon.html" (dict "name" "clock") }}
        {{ .duration }}
      </div>
    </div>
  </div>
  <div class="flex items-center p-6 pt-0">
    <a class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-9 px-4 py-2 w-full group" href="{{ .labURL }}">
      Start Lab
      {{ partial "utils/icon.html" (dict "name" "arrow-right" "attributes" "class='lucide lucide-arrow-right ml-2 h-4 w-4'") }}
    </a>
  </div>
</div>
  {{ end }}
{{ end }}
